@model MoonlightGID.Models.Jobs

<div>
    <h4>Contact @Model.Company.CompanyName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Job Name
        </dt>
        <dd class="col-sm-10">
            @Model.JobName
        </dd>
        <dt class="col-sm-2">
            Estimated Price: 
        </dt>
        <dd class="col-10">
            $ @Model.Price
        </dd>
        <dt class="col-sm-2">
            Company:
        </dt>
        <dd class="col-sm-10">
            @Model.Company.CompanyLogin
        </dd>
        <dt class="col-sm-10">
            Phone: @Model.Company.ContactNumber
        </dt>
        <dt class="col-sm-10">
            Email: @Model.Company.EmailAddress
        </dt>
    </dl>
</div>
<div>
    <form asp-action="SearchResults">
        <input type="hidden" name="desc" value="@Model.JobType" />
        <button type="submit" class="btn btn-primary" value="@Model.JobType"> Return to the List</button>
    </form>
</div>
