@model JobsReviewRepository

@if (Model != null)
{
    <form method="post" asp-action="SideToSideComparison">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="JobSearch">Search</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Job Name
                    </th>
                    <th>
                        Job Type
                    </th>
                    <th>
                        Service Provider
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Jobs.Count(); i++)
                 {
                    <tr>
                        <td>
                            @Model.Jobs[i].JobName
                        </td>
                        <td>
                            @Model.Jobs[i].JobType
                        </td>
                        <td>
                            @Model.Jobs[i].Company.CompanyName
                        </td>
                        <td>
                            @Model.Jobs[i].Description
                        </td>
                        <td>
                            @Model.Jobs[i].Price
                        </td>
                        <td>
                           @if (@Model.Reviews != null)
                           {
                               if (Model.GetRating(Model.Reviews, Model.Jobs[i].JobId) != 0)
                               {
                                    @Math.Round(@Model.GetRating(Model.Reviews, Model.Jobs[i].JobId),2,MidpointRounding.AwayFromZero)
                               }
                               else
                               {
                                   <p>Not yet Rated</p>
                               }
                           }
                           else
                           {
                                <p>Not Rated</p>
                            }
                        </td>
                        <td>
                            <input type="checkbox" name="ToCompare" value="@Model.Jobs[i].JobId" />Compare? | 
                            <a asp-action="CompareJobDetails" asp-route-id="@Model.Jobs[i].JobId">See More</a>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" value="@Model.Jobs[0].JobId"> Compare selected</button>
    </form>
}
else
{
<div class="alert-warning">
    @ViewBag.errorMessage
</div>
}